body{
	background: url(blue.jpg);
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	scroll-behavior: smooth;
}

.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 150px;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style-type: none;
	display: inline-block;
    padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: rgb(0, 255, 0);
	display: block;
	margin: auto;
	transition: 0.5s;
	font-family: 'algerian';
}

.nav-links ul li:hover::after{
	width: 100%;
	
}

.text-box{
	width: 90%;
	color: seashell;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box h1{
	font-size: 62px;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color:#fff;
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color:  #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-btn:hover{
	border: 1px solid green;
	background: green;
	transition: 1s;
	font-family: 'mandhor';
}

nav .fa{
	display: none;

}



/*-----page 2-----*/

.information{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	background: url(blue.jpg);
}

h1{
	font-size: 36px;
	font-weight: 600;
	color: aqua;
	}

p{
	color: #FF0000;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}	


.peripherals{
	flex-basis: 31%;
	background-image: url(ROG.jpg);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

.laptops{
	flex-basis: 31%;
	background-image: url(ROG.jpg);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

.pcs{
	flex-basis: 31%;
	background-image: url(ROG.jpg);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

.peripherals h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	color: #FFFF00;
}

.peripherals p{
	text-align: center;
	font-weight: 100;
	margin: 10px 0;
	color: #00ff4c;
}

.laptops h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	color: #FFFF00;
}

.laptops p{
	text-align: center;
	font-weight: 100;
	margin: 10px 0;
	color: #00ff4c;
}

.pcs h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	color: #FFFF00;
}

.pcs p{
	text-align: center;
	font-weight: 100;
	margin: 10px 0;
	color: #00ff4c;
}

.peripherals:hover{
	box-shadow: 0 0 20px 0px rgb(253, 1, 1);
	cursor: pointer;
	padding: 1% 1%;
	size: 1px;
	background-image: url(peripherals.jpg);
}


.laptops:hover{
	box-shadow: 0 0 20px 0px rgb(253, 1, 1);
	cursor: pointer;
	padding: 1% 1%;
	size: 1px;
	background-image: url(laptops.jpg);
	background-size: cover;
}

.pcs:hover{
	box-shadow: 0 0 20px 0px rgb(253, 1, 1);
	cursor: pointer;
	padding: 1% 1%;
	size: 1px;
	background-image: url(pc.jpg);
	background-size: cover;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

/*-----HOT SEARCHES-----*/

.topsrch{
	background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(neon.gif);
	margin: auto;
	text-align: center;
	padding-top: 100px;
	background-size: cover;
}

.topsrch p{
	color: rgb(219, 243, 4);
}
.whitepc{
	background-color: crimson;
	color: cyan;
	text-decoration: none;
	position: initial;
	display: inline-block;
	transition: 0.5s;
	padding: 2px;
	border: 1px solid rgb(223, 223, 223);
	box-sizing: initial;
	text-align: center;
	margin: 5px;
}
.whitepc:hover{
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	box-shadow: yellow;
}
.linksC{
	width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  PADDING: 10px;
  margin: 5px;
}

.whitelp{
	background-color: crimson;
	color: cyan;
	text-decoration: none;
	position: initial;
	display: inline-block;
	transition: 0.5s;
	padding: 2px;
	border: 1px solid rgb(223, 223, 223);
	box-sizing: initial;
	text-align: center;
	margin: 5px;
}

.whitelp:hover{
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	box-shadow: yellow;
}

.linksL{
	width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  PADDING: 10px;
  margin: 5px;
}
/*-----footer------*/

.footer{
    width: 100%;
	text-align: center;
	padding: 30px 0;
	background:url(white..jpg);	
	border-style: double;
	background-size: 100% 100%;
}

.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
	color: black;
}


.footer p{
	color: rgb(209, 5, 5);
}

